WCY20KC1S0_Wiszniewski/src/conf/xml-resources/web-service-references/SOAP/wsdl/localhost_8080/WCY20KC1S0_Wiszniewski/SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="SOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WCY20KC1S0_Wiszniewski/SOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="generuj">
<part name="parameters" element="tns:generuj"/>
</message>
<message name="generujResponse">
<part name="parameters" element="tns:generujResponse"/>
</message>
<message name="wyswietl">
<part name="parameters" element="tns:wyswietl"/>
</message>
<message name="wyswietlResponse">
<part name="parameters" element="tns:wyswietlResponse"/>
</message>
<message name="wstaw">
<part name="parameters" element="tns:wstaw"/>
</message>
<message name="wstawResponse">
<part name="parameters" element="tns:wstawResponse"/>
</message>
<message name="pobierz">
<part name="parameters" element="tns:pobierz"/>
</message>
<message name="pobierzResponse">
<part name="parameters" element="tns:pobierzResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="usun">
<part name="parameters" element="tns:usun"/>
</message>
<message name="usunResponse">
<part name="parameters" element="tns:usunResponse"/>
</message>
<portType name="SOAP">
<operation name="generuj">
<input wsam:Action="http://WebService/SOAP/generujRequest" message="tns:generuj"/>
<output wsam:Action="http://WebService/SOAP/generujResponse" message="tns:generujResponse"/>
</operation>
<operation name="wyswietl">
<input wsam:Action="http://WebService/SOAP/wyswietlRequest" message="tns:wyswietl"/>
<output wsam:Action="http://WebService/SOAP/wyswietlResponse" message="tns:wyswietlResponse"/>
</operation>
<operation name="wstaw">
<input wsam:Action="http://WebService/SOAP/wstawRequest" message="tns:wstaw"/>
<output wsam:Action="http://WebService/SOAP/wstawResponse" message="tns:wstawResponse"/>
</operation>
<operation name="pobierz">
<input wsam:Action="http://WebService/SOAP/pobierzRequest" message="tns:pobierz"/>
<output wsam:Action="http://WebService/SOAP/pobierzResponse" message="tns:pobierzResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebService/SOAP/pobierz/Fault/IOException"/>
</operation>
<operation name="usun">
<input wsam:Action="http://WebService/SOAP/usunRequest" message="tns:usun"/>
<output wsam:Action="http://WebService/SOAP/usunResponse" message="tns:usunResponse"/>
</operation>
</portType>
<binding name="SOAPPortBinding" type="tns:SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generuj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wyswietl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wstaw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="usun">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAP">
<port name="SOAPPort" binding="tns:SOAPPortBinding">
<soap:address location="http://localhost:8080/WCY20KC1S0_Wiszniewski/SOAP"/>
</port>
</service>
</definitions>